.nav {
    width: min(90%, 1300px);
    margin: 0 auto;
    background: var(--background-color);
    border-bottom: 1px solid var(--hover-color);
}

.nav ul {
    display: flex;
    gap: 10px;
    align-items: center;
    list-style: none;
}

.nav li {
    display: flex;
    align-self: stretch;
}
.nav li:first-child {
    display: none;
}

.nav li:nth-child(2) {
    margin-right: auto;
}

.nav a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.nav a:not(.logo):hover, .active {
    background: rgba($color: #c9c9c9, $alpha: 0.5);
}

.mobile-nav, .overlay {
    display: none;
}

.open {
    background: none;
    border: none;
}

.close {
    display: none;
    background: none;
    border: none;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.image {
    position: relative;
    width: 40px;
    height: 40px;
}

.image img {
    object-fit: contain;
}

@media (max-width: 700px) {
    .close, .mobile-nav {
        display: block;
    }

    .mobile-logo {
        margin-right: auto;
        display: flex;
        gap: 10px;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--text-color);
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .nav li:first-child {
        display: block;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(300px, 100%);
        border-bottom: none;
        z-index: 10;
        transition: right .5s ease-in-out;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav li, .nav a {
        width: 100%;
    }

    .show {
        right: 0;
    }

    .overlay {
        background: rgba($color: #c9c9c9, $alpha: 0.5);
        position: fixed;
        inset: 0;
        height: 100vh;
        z-index: 9;
        animation: blink .5s ease-in-out;
    }

    .show ~ .overlay {
        display: block;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}