
.item {
    position: relative;
    display: grid;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
}

.item img {
    object-fit: cover;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: -1;
}

.item h1 {
    text-align: center;
    padding: 20px;
    grid-row: 1/2;
    grid-column: 1/2;
    background: rgba($color: #000000, $alpha: .5);
}

.item h1:hover {
    color: var(--background-color);
    background: rgba($color: #ffffff, $alpha: .5);
}