.dialog {
  inset: 0;
  margin: auto;
  border-radius: 10px;
}

.image {
    position: relative;
}

.image img {
    padding: 20px;
    object-fit: cover;
}

.backdrop {
  background: rgba($color: #000000, $alpha: 0.7);
  position: fixed;
  height: 100vh;
  inset: 0;
}