:root {
  --text-color: white;
  --hover-color: #c9c9c9;
  --background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

.main {
  margin: 32px auto;
  width: min(90%, 1300px);
  text-align: center;
}

.main h1 {
  padding: 20px;
  color: var(--text-color);
}

.border-bottom {
  border-bottom: 1px solid var(--hover-color);
}

.grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 10px;
}
