:root {
  --text-color: white;
  --hover-color: #c9c9c9;
  --background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}
