.header, .main {
    width: min(90%, 1300px);
    margin: 32px auto;
    color: var(--text-color);
}

.header {
    display: grid;
    gap: 10px;
    grid-auto-rows: 200px;
    grid-template-areas: 
        "box1 box2 box2 box3"
        "box1 box4 box4 box3"
        "box1 box5 box5 box5";
}

.header div {
    position: relative;
    display: grid;
    align-items: center;
    text-align: center;
}

.header div img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: -1;
}

.header div h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    background: rgba($color: #000000, $alpha: 0.5);
    padding: 20px;
    z-index: 1;
}

.header div h1:hover {
    color: var(--background-color);
    background: rgba($color: #ffffff, $alpha: 0.5);
}

@media (max-width: 700px) {
    .header {
        grid-template-areas: 
            "box1 box2"
            "box3 box4"
            "box3 box5";
    }
}

@media (max-width: 400px) {
    .header {
        grid-template-areas: 
            "box1"
            "box2"
            "box3"
            "box4"
            "box5";
    }
}